@font-face {
    font-family: "DIN-Black";
    src: url('./fonts/DIN/DIN-Black.ttf') format("truetype");
}

@font-face {
    font-family: "DIN-Bold";
    src: url('./fonts/DIN/DIN-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "DIN-Medium";
    src: url('./fonts/DIN/DIN-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "DIN";
    src: url('./fonts/DIN/DIN.ttf') format("truetype");
}

@font-face {
    font-family: "NoeDisplay-Bold";
    src: url('./fonts/Noe/NoeDisplay-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "NoeDisplay-Medium";
    src: url('./fonts/Noe/NoeDisplay-Medium.ttf') format("truetype");
}





#main-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#intro {
    margin-top: 15%;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#name {
    line-height: 20px;
    letter-spacing: 0.05ch;
    color: #C2C2C2;
    font-family: "NoeDisplay-Medium";
    font-size: 35px;
    margin: 0;
}

#intro-desc {
    line-height: 70px;
    letter-spacing: -0.05ch;
    margin: 0;
    margin-bottom: 20px;
    font-family: "DIN-Bold";
    font-size: 4vw;
}

#skills {
    margin-top: 10%;
    text-align: center;
}

#title {
    letter-spacing: 0.05ch;
    color: #C2C2C2;
    font-family: "NoeDisplay-Medium";
    font-size: 35px;
    margin: 0;
    margin-bottom: 20px;
}

#intro .iconify {
    font-size: 30px;
    margin-right: 5px;
    transition: all .4s ease-in-out;
    color: #C2C2C2;
}


#intro .iconify:hover {
    transform: scale(1.5);
}

#facebook:hover {
    color: #3F51B5;
}

#linked-in:hover {
    color: #009BD8;
}

#github:hover {
    color: #808080;
}

#email:hover {
    color: #DC6058;
}

#resume:hover {
    color: #d724dd;
}

#medium:hover {
    color: #00B973;
}

#skills-container {
    text-align: left;
    margin-bottom: 10%;
}


.col-sm {
    padding: 0px;
}

.card {
    margin-bottom: 20px;
    padding: 0;
}

.card-body {
    color: white;
    border-radius: 7px;
}

.card-title {
    font-family: "DIN-Bold";
    font-size: 1.5em;
    line-height: 1.2em;
}

.card-body {
    letter-spacing: -0.05ch;
    font-family: "DIN";
    font-size: 1.2em;
}

.card-link {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-color: white;
    opacity: 0.5;
}

.button {
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.09);
    color: white;
    text-align: center;
    text-align: center;
    line-height: 16px;
    font-size: 16px;
    margin: 4px 2px;
    height: 50px;
    width: 50px;
    outline: none;
}

.button:focus{
    outline:none;
}

.button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);

}

#link {
    padding: 0;
    color: white;
}

#git-button {
    padding: 0;
    color: white;
    font-size: 20px;
}

.orange {
    background-color: #FF6E43;
}

.dark-orange {
    background-color: #FF4A50;
}

.red {
    background-color: #E3325F;
}

.purple {
    background-color: #9608A3;
}

.magenta {
    background-color: #A30878;
}

.violet {
    background-color: #7F31C3;
}

#projects-container {
    text-align: center;
    margin-bottom: 10%;
}

#github-tag{
    font-family: "DIN-Medium";
}

.profile-card-5-body{
    padding: 20px !important;
    text-align: left;
}

/*Profile Card 5*/
.profile-card-5 {
    border: none;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0 27px 45px -17px rgba(191, 191, 191, 0.50);
}

.profile-card-5 .btn {
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 7px 20px;
}

.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;

}

.profile-card-5 .card-img-block img {
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.63); */
}

.profile-card-5 h5 {
    text-align: left;
    color: black;
    font-size: 25px;
}

.profile-card-5 p {
    text-align: left;
    color: black;
    font-size: 18px;
    font-weight: 300;
}

.profile-card-5 .btn-primary {

}

.project-button {
    border-radius: 50%;
    border: none;
    color: white;
    text-align: center;
    line-height: 16px;
    font-size: 16px;
    margin: 4px 2px;
    height: 50px;
    width: 50px;
    outline: none;
}

.project-button:focus{
    outline:none;
}

.project-button:hover {
    cursor: pointer;
    opacity: 0.8;

}

footer {
    font-family: "DIN";
}